body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#available .list-group .list-group .list-group-item{
	padding-right: 0;
	padding-left: 7px;
	border: 0;
}
.match-general-info{
	padding: 10px 10px 10px 0px;
	border-bottom: 5px solid #eceeef; 
}
.match-actions{
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 5px solid #eceeef; 
}
.modal-footer button:nth-child(2){
	margin-left:5px; 
}