.match>div{
	/*border-top: 1px solid black;*/
	padding: 5px 0;
}
.live-match-section>h1{
	font-weight: normal;
	font-size: 1.2em;
	text-align: center;
	margin-top: 0.5rem;
}
.live{
	border-left: 4px solid #C2F970;
}
.not-live{
	border-left: 4px solid #fff;
}